/*/////////////////////////////////////////////////////////////// 배경 css //////////////////////////////////////////////////////////*/
body {
  background-color: #000000a1; 
}


/*/////////////////////////////////////////////////////////////// 네비바 css //////////////////////////////////////////////////////////*/
.navbar-custom {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}


.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #242424 !important;
  border-radius: 10px;
}

.navbar-custom .nav-link,
.navbar-custom .nav-dropdown-toggle,
.navbar-custom .nav-link a,
.navbar-custom .nav-link span {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-custom .navbar-brand {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 300px;
}
.navbar-custom .nav-link span {
  cursor: pointer;
}

.navbar-custom .nav-link button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  margin-left: 900px;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  padding-bottom: 5px;
}

.navbar-custom .navbar-nav,
.navbar-custom .nav-item,
.navbar-custom .nav-dropdown-toggle {
  display: flex;
  align-items: center;
  height: 100%;
}

/* 중앙 정렬을 위한 추가 */
.navbar-custom .navbar-nav {
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}


/*//////////////////////////////////////////// item css //////////////////////////////////////////////////////*/


.deals {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.sale-item {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  background-color: white;
}