
.review-scroll-user-info{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}

.review-scroll-user-profile-image{
    width: 32px; 
    height: 34px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin-right: 10px;
    margin-bottom: 3px;
    margin-left: 14px;
}

.review-scroll-user-nickname{
    margin-top: 12px;
}

.review-scroll-star-rate{
    display: flex;
    justify-content: space-between;
}

.review-scroll-star{
    margin-left: 14px;
    font-size: 20px;
    color: gold;
}

.review-scroll-star-rating{
    margin-top:3px;
    margin-left: 1px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.review-scroll-created-date{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    padding-right: 10px;
}

.review-scroll-review-image-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.scroll-arrow {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 10px;
}

.scroll-arrow.left {
    left: 0;
    margin-left: 5px;
}

.scroll-arrow.right {
    right: 0;
    margin-right: 5px;
}

.review-scroll-review-image-div {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    width: 100%; 
    margin-left: 10px;
    margin-right: 10px;
}

.review-scroll-review-image {
    flex: 0 0 auto; /* 이미지 크기를 고정하여 줄어들지 않도록 설정 */
    width: 150px;
    height: 150px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* 스크롤바 숨기기 */
.review-scroll-review-image-div::-webkit-scrollbar {
    display: none;
}

/* 스크롤바 썸 스타일링 */
.review-scroll-review-image-div::-webkit-scrollbar-thumb {
    display: none;
}

.review-scroll-review-contents{
    display: flex;
    margin-top: 12px;
    margin-bottom: 15px;

}

.review-scroll-review-contents-p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.review-scroll-down-icon-image{
    width: 10px; 
    height: 10px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin-left: 5px;
    margin-top: 3px;

}

.review-scroll-star-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-scroll-star-rate-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-scroll-star-rate-detail-star{
    font-size: 15px;
    margin-right: 1px;
    color: gold;
}
.review-scroll-star-rate-detail-rating{
    margin-top:1px;
    margin-left: 1px;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin-right: 1px;
}
.review-scroll-star-rate-detail-word{
    margin-top: 1px;
    margin-left: 20px;
    margin-right:3px;
    font-size: 11px;
    color: gray;
}
.review-scroll-review-interaction-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}
.review-scroll-review-like-image,
.review-scroll-review-like-image-like-review{
    width: 21px; 
    height: 21px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.review-scroll-review-like-image:hover {
    background-image: url('../../../public/heart-full-1.png'); 
}
.review-scroll-review-like-count {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    margin-left: 3px;
}
.review-scroll-review-comment{
    width: 21px; 
    height: 21px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.review-scroll-review-declaration{
    width: 23px; 
    height: 23px;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center; 
    margin-left: 385px;
    margin-bottom: 8px;
}
.review-scroll-review-comment-count {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    margin-left: 3px;
}